@model MovieCatalog.ViewModels.AuthViewModel
@{
    ViewData["Title"] = "Авторизация";
}

<h1>@ViewData["Title"]</h1>
@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}
<form method="post" action="@Model.FormUrl">
    <input class="form-control" type="text" name="username" placeholder="Имя пользователя" required />
    <input class="form-control" type="password" name="password" placeholder="Пароль" required />
    <button type="submit" class="btn btn-primary">Авторизоваться</button>
</form>