@model MovieCatalog.ViewModels.AuthViewModel


@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}
<form method="post" action="@Model.FormUrl">
    <input type="text" name="username" placeholder="Имя пользователя" class="form-control" required />
    <input type="password" name="password" placeholder="Пароль" class="form-control" required />
    <input type="password" name="repassword" placeholder="Повтор пароля" class="form-control" required />
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>